body{
    background-color: beige;
    
    background-image:url('4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
form{
    
    margin-top: 50px;
    margin-bottom: 40px;
    background-color:rgb(202, 124, 46);
    border-radius: 20px;
    padding-top: 30px;
}
.btn{
    background-color: rgb(250, 250, 250);
    color: rgb(34, 34, 33);
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    
}
.btn:hover {
    background-color: rgb(170, 166, 141);
  }